.text-gradient {
	font-weight: bold;
	background: linear-gradient(
		180deg,
		#ffffff 2%,
		#deb7f0 20%,
		#ffffff 63%,
		#deb7f0 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-clip {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.slick-dots li button {
	width: 6px;
	height: 6px;
}

/* Change dot colors */
.slick-dots li button:before {
	color: #9ca3af;
}

/* Change dot color when active */
.slick-dots li.slick-active button:before {
	color: #c93fdd;
}

.slick-slide div img {
    opacity: 1; /* Ensure full opacity */
    filter: none; /* Remove any filters affecting brightness */
}

.slick-slider::before {
	content: none; /* Remove overlays if any */
}
