.text-gradient {
	font-weight: bold;
	background: linear-gradient(
		-20deg,
		#deb7f0 0%,
		#f5ebfc 17%,
		#deb7f0 47%,
		#ca8ce6 82%,
		#f5ebfc 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.drop-shadow-lg {
	text-shadow: 
		0 4px 40px rgba(178, 95, 214, 1vv), /* First shadow */
		1px 1px 4.2px rgba(201, 63, 221, 1); /* Second shadow */
}
