@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
	--background: #000000;
	--foreground: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	overflow-x: hidden; /* Enables horizontal scrolling */
	font-family: "Poppins", sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.slick-slide {
	transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.drop-shadow-text {
	filter: drop-shadow(1px 1px 4.2px #c93fdd);
}

/* this one for the container of the text */
.drop-shadow-container {
	filter: drop-shadow(0px 4px 40px #b25fd6);
}
